body {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    margin: 0rem;
    overflow: hidden;
    color: black;
    font-family: "Sofia", cursive;
  }
  
h1 {
    font-size: 3.5rem;
    padding: 2rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(100);
  }
@keyframes typing {
    from {width: 0;}
}

#container {
    display: none;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
#container > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 12px;
    border: black 4px solid;
    box-shadow: black 10px 10px;
  }
  
